bazel-*
# Robot
log.html
report.html
robot_output.xml
# Generated sources
tests/renode/rv_core/coralnpu_hello_world_cc.c
tests/renode/rv_core/*.elf
tests/renode/rv_core/*.bin
tests/renode/__pycache__
# VCS generated things
novas.fsdb
ucli.key
internal
*vcst*
novas*
*csrc*
# Build artifacts for UVM
tests/uvm/rtl
tests/uvm/sim_work
tests/uvm/vc_hdrs.h
# python
__pycache__
